html {
  box-sizing: border-box;
  background-color: #ffff;
  font-size: 62.5%; /* 1REM = 10px*/
  font-family: 'Times New Roman', Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 4.5rem; /* Aumenta el tamaño de fuente */
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
}

.header {
  background-color: #e6e6e6;
}

.header__imagen {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

/* utlilidad */
.titulos {
  color: #005677;
  text-transform: uppercase;
  background-color: #c4c4c4;
  letter-spacing: 0.29rem;
  font-weight: bold;
}

section .titulos {
  padding-left: 10px;
}

span {
  font-weight: bold;
}

.contenido__texto {
  padding: 3rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.contenido:first-child {
  font-style: italic;
}

.contenido__texto:last-of-type {
  margin-bottom: 6rem;
}

.footer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: #ffff;
  text-transform: uppercase;
  background-color: #005677;
  padding: 1rem;
}
